@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700,600);
.accented-text {
  font-weight: 600; }

.right-arrow {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6.865px solid #7f7d8a;
  display: inline-block;
  font-size: 0;
  height: 0;
  margin-left: 7px;
  width: 0; }

.indented-container {
  margin-left: 5.4%;
  margin-right: 5.4%; }

.invisible-divider {
  margin-top: 60px; }

.indented-container-left {
  margin-left: 5.4%;
  padding-left: 3px; }

.indented-container-right {
  margin-right: 5.4%;
  padding-right: 0; }

.directory-table {
  padding-top: 45px; }

.padding-left {
  padding-left: 15px; }

.no-left-padding {
  padding-left: 0px; }

.block-anchor {
  display: inline-block; }

.btn:focus {
  outline: none !important;
  border-color: #faa628; }

/** WP WYSIWYG editor styles **/
img.alignright {
  float: right;
  margin: 0 0 1em 1em; }
  @media (max-width: 767px) {
    img.alignright {
      margin-left: 0px;
      width: 100%;
      height: auto; } }

img.alignleft {
  float: left;
  margin: 0 1em 1em 0; }
  @media (max-width: 767px) {
    img.alignleft {
      margin-right: 0px;
      width: 100%;
      height: auto; } }

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.alignright {
  float: right; }

.alignleft {
  float: left; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.error-page {
  padding-top: 100px;
  padding-bottom: 100px; }

.error-page-message {
  padding-top: 40px;
  padding-bottom: 40px; }

body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif; }

h1, h2, h3 {
  font-weight: 300; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 3em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.756em; }

h5 {
  font-size: 1.33em;
  color: #faa628;
  font-weight: 600;
  text-transform: uppercase; }

p, ul {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #56555e;
  font-size: 1.33em;
  line-height: 1.8;
  margin-bottom: 25px; }

nav {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif; }

a {
  color: initial; }
  a:hover, a:focus, a:active {
    outline: none;
    color: #faa628; }

p > a {
  color: #231f20;
  font-weight: 600;
  transition: all 0.5s;
  text-decoration: underline; }
  p > a:hover, p > a:active, p > a:focus {
    color: #faa628; }

label {
  font-weight: 600; }

.slick-prev {
  left: -80px;
  top: 130px;
  padding-right: 3px;
  transition: all 0.5s; }
  .slick-prev:hover:before, .slick-prev:focus:before {
    border-right: 10.865px solid #ffffff; }

.slick-next {
  right: -80px;
  top: 130px;
  padding-left: 3px;
  transition: all 0.5s; }
  .slick-next:hover:before, .slick-next:focus:before {
    border-left: 10.865px solid #ffffff; }

.slick-prev:before {
  content: "";
  font-size: 0;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10.865px solid #7f7d8a; }

.slick-next:before {
  content: "";
  font-size: 0;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10.865px solid #7f7d8a; }

.slick-prev, .slick-next {
  font-size: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #e6e7e8; }
  .slick-prev:hover, .slick-prev:active, .slick-prev:focus, .slick-next:hover, .slick-next:active, .slick-next:focus {
    background: #7f7d8a; }

.prev-btn {
  font-size: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #e6e7e8;
  padding-left: 17px;
  padding-top: 24px;
  transition: all 0.5s; }
  .prev-btn:hover, .prev-btn:active, .prev-btn:focus {
    background: #7f7d8a; }
    .prev-btn:hover:before, .prev-btn:active:before, .prev-btn:focus:before {
      border-right: 10.865px solid #ffffff; }
  .prev-btn:before {
    content: "";
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 10.865px solid #7f7d8a; }

.next-btn {
  font-size: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #e6e7e8;
  padding-left: 21px;
  padding-top: 24px;
  transition: all 0.5s; }
  .next-btn:hover, .next-btn:active, .next-btn:focus {
    background: #7f7d8a; }
    .next-btn:hover:before, .next-btn:active:before, .next-btn:focus:before {
      border-left: 10.865px solid #ffffff; }
  .next-btn:before {
    content: "";
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10.865px solid #7f7d8a; }

input:focus, textarea:focus {
  outline: #faa628 auto 2px;
  border: #faa628; }

.subfooter {
  padding: 40px 0px;
  background-image: url("https://carolynsaxby.files.wordpress.com/2011/09/br-5.jpg");
  background-position: center;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover; }

.subfooter-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5); }
  @media (max-width: 1199px) {
    .subfooter-flex-container {
      display: block; } }

.subfooter-text {
  color: #ffffff;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 0; }
  @media (max-width: 1199px) {
    .subfooter-text {
      margin-left: 0px;
      text-align: center;
      margin-bottom: 20px; } }

.subfooter-btn {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  border: 2px solid #ffffff;
  transition: all 0.5s;
  font-size: 16px;
  display: inline-block;
  color: #ffffff;
  font-weight: 500;
  padding: 9px 18px 12px;
  margin-right: 20px; }
  .subfooter-btn:link {
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff; }
  .subfooter-btn:hover {
    background-color: #faa628;
    border-color: #faa628;
    color: #ffffff;
    fill: #ffffff;
    text-decoration: none; }
  .subfooter-btn:hover svg {
    fill: #ffffff;
    left: 5px; }
  .subfooter-btn:active {
    background-color: #faa628;
    border-color: #faa628;
    color: #ffffff;
    box-shadow: none; }
  .subfooter-btn:active svg {
    fill: #ffffff;
    left: 5px; }
  .subfooter-btn:focus, .subfooter-btn:active:focus {
    background-color: #faa628;
    border-color: #faa628;
    color: #ffffff;
    outline: 5px auto #faa628; }
  .subfooter-btn:focus, .subfooter-btn:active:focus svg {
    fill: #ffffff;
    left: 5px; }
  @media (max-width: 1199px) {
    .subfooter-btn {
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      font-size: 18px;
      padding: 12px 24px;
      text-align: center; } }

.subfooter-btn-container {
  right: 10%; }
  @media (max-width: 1199px) {
    .subfooter-btn-container {
      right: 0px;
      position: initial; } }

.subfooter-arrow {
  display: inline-block;
  margin-left: 10px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6.865px solid #ffffff;
  font-size: 0;
  height: 0;
  width: 0; }

.footer-main {
  overflow: auto;
  color: #939597;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  background-color: #f1f1f2; }

.footer-logo-section {
  padding-left: 4.4%;
  padding-top: 30px;
  padding-bottom: 60px; }
  @media (max-width: 991px) {
    .footer-logo-section {
      padding-left: 0px; } }

.footer-logo {
  width: 100px;
  margin-left: 5px;
  transition: all 0.5s; }
  .footer-logo:hover, .footer-logo:focus {
    opacity: 0.5; }

.footer-logo-text-container {
  padding-left: 30px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .footer-logo-text-container {
      padding-left: 50px; } }
  .footer-logo-text-container h5 {
    margin-top: 5px;
    margin-bottom: 0px;
    text-transform: initial; }

.footer-logo-text {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 18px; }

.copyright {
  font-size: 14px;
  line-height: 1.6; }

.footer-link {
  color: #939597;
  font-weight: 600;
  font-size: 14px;
  text-decoration: underline; }

.footer-sponsor-section {
  padding-top: 30px; }

.sponsor-heading {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 600;
  padding-bottom: 20px;
  padding-left: 0px;
  font-size: 18px; }

.sponsor-block-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 84px;
  margin-bottom: 45px; }

.sponsor-block {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  background-color: #e6e7e8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .sponsor-block {
      width: 160px;
      height: 160px; } }

.sponsor-link {
  transition: all 0.5s; }
  .sponsor-link:hover, .sponsor-link:focus {
    opacity: 0.75; }

@media (max-width: 991px) {
  .float-left {
    float: left;
    margin-bottom: 105px; } }

.navbar-brand > img {
  display: inline-block;
  width: 70px; }

.navbar-brand {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 600;
  position: absolute;
  top: -82px;
  height: 100px;
  margin-top: 30px;
  margin-left: 4.4% !important;
  padding: 0px;
  color: #7f7d8a;
  transition: all 0.5s; }
  .navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
    color: #56555e; }
  @media (max-width: 480px) {
    .navbar-brand {
      margin-left: 30px !important; } }

.navbar-brand-text {
  display: inline-block;
  font-size: 22px;
  vertical-align: bottom;
  margin-bottom: 4px;
  margin-left: 11px; }

.container-fluid {
  padding-right: 0;
  padding-left: 0; }

.navbar {
  border-radius: 0;
  border-color: #ffffff;
  min-height: 50px;
  position: relative;
  top: 70px; }
  @media (max-width: 991px) {
    .navbar {
      margin-bottom: 21px; } }

.subnav {
  float: right !important;
  position: absolute !important;
  font-size: 14px !important;
  color: #000000;
  top: -53px;
  right: 4.4%;
  list-style-type: none;
  font-weight: 600; }

.subnav-dropdown {
  top: 75%;
  border-radius: 0px; }
  .subnav-dropdown li a {
    white-space: normal !important; }

.subnav-item {
  display: inline-block;
  padding: 1.5rem; }

#search-icon {
  width: 16px;
  height: 16px;
  top: 2px;
  fill: #7f7d8a;
  transition: all 0.5s; }
  #search-icon:hover, #search-icon:active, #search-icon:focus {
    fill: #56555e; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: #ffffff; }

.dropdown-menu {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
  padding: 0px 0; }

.dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: #faa628; }

.navbar-right {
  margin-right: 3.5%; }

.navbar-nav > li > .dropdown-menu {
  margin-top: 13px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.dropdown-menu > li > a {
  text-align: center;
  padding: 15px 20px; }

.dropdown-menu .divider {
  margin: 0; }

.navbar-right .dropdown-menu {
  left: 50%;
  transform: translateX(-50%); }

.navbar-default {
  background-color: #ffffff; }

.navbar-default .navbar-nav > li > a {
  color: #231f20;
  font-size: 16px !important;
  font-weight: 400 !important;
  padding-top: 0px; }
  .navbar-default .navbar-nav > li > a:hover:after, .navbar-default .navbar-nav > li > a:active:after, .navbar-default .navbar-nav > li > a:focus:after {
    border-bottom: 3px solid #faa628;
    bottom: 0px;
    content: "";
    left: 33%;
    position: absolute;
    width: 33%; }

.nav > li > a {
  padding-left: 10px;
  padding-right: 10px; }

.subnav-link {
  color: #7f7d8a;
  transition: all 0.5s; }
  .subnav-link:hover, .subnav-link:active, .subnav-link:focus {
    color: #56555e;
    text-decoration: none; }

.nav-support-btn-link {
  color: #faa628 !important;
  font-weight: 600;
  transition: all 0.5s; }
  .nav-support-btn-link:hover, .nav-support-btn-link:active, .nav-support-btn-link:focus {
    color: #ea8c23 !important; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #ffffff; }
  .navbar-default .navbar-nav > .active > a:after, .navbar-default .navbar-nav > .active > a:focus:after, .navbar-default .navbar-nav > .active > a:hover:after {
    border-bottom: 3px solid #faa628;
    bottom: 0px;
    content: "";
    left: 33%;
    position: absolute;
    width: 33%; }

.dropdown-toggle .caret {
  display: none; }

@media (max-width: 1150px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    margin-top: 40px; }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important; }

  .navbar-nav > li {
    float: none;
    padding-left: 30px; }

  .navbar-nav > li > a {
    padding-top: 15px !important;
    padding-bottom: 15px;
    border-bottom: 1px solid #e6e7e8;
    font-size: 1.33em !important; }
    .navbar-nav > li > a:hover {
      color: #faa628 !important;
      background-color: transparent; }
      .navbar-nav > li > a:hover:after {
        border-bottom: 1px solid transparent !important; }
    .navbar-nav > li > a:active {
      color: #faa628;
      background-color: transparent !important; }
      .navbar-nav > li > a:active:after {
        border-bottom: 1px solid transparent !important; }
    .navbar-nav > li > a:focus {
      color: #faa628;
      background-color: transparent !important; }
      .navbar-nav > li > a:focus:after {
        border-bottom: 1px solid transparent !important; }

  .collapse.in {
    display: block !important; }

  .dropdown-toggle .caret {
    display: initial;
    float: right;
    margin-top: 5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8.66px solid #7f7d8a; }

  .nav .dropdown.open .caret {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8.66px solid #7f7d8a;
    border-bottom: none; }

  .navbar-right .dropdown-menu {
    left: 0px;
    margin-left: 30px;
    transform: initial; }

  .dropdown-menu > li > a {
    text-align: left; }

  .navbar-nav > li > .dropdown-menu {
    margin-top: 0px; }

  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; } }
.navbar-toggle .icon-bar:nth-of-type(3) {
  top: 1px; }

.navbar-toggle .icon-bar:nth-of-type(4) {
  top: 2px; }

.navbar-toggle .icon-bar {
  position: relative;
  transition: all 0.5s; }

.navbar-toggle.active .icon-bar:nth-of-type(2) {
  top: 9px;
  transform: rotate(45deg);
  background-color: #56555e; }

.navbar-toggle.active .icon-bar:nth-of-type(3) {
  background-color: transparent;
  animation: opac 500ms; }

.navbar-toggle.active .icon-bar:nth-of-type(4) {
  top: -7px;
  transform: rotate(-45deg);
  background-color: #56555e; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #faa628; }

.navbar-default .navbar-toggle {
  border-color: transparent; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:focus {
    background-color: transparent; }

.navbar-toggle {
  position: absolute;
  top: -2.75em;
  right: 2em; }
  @media (max-width: 480px) {
    .navbar-toggle {
      right: 0; } }

.navbar-toggle .icon-bar {
  width: 35px;
  height: 4px;
  border-radius: 3px; }

.dropdown-menu > .active > a {
  background-color: #faa628; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    font-size: 16px;
    padding: 15px; } }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  border-color: #faa628; }

.jumbotron-container {
  background-color: #ffffff;
  border-radius: 0px;
  height: 350px; }

.about-jumbotron {
  background-color: #e6e7e8;
  border-radius: 0px !important;
  height: 350px;
  background-image: url("http://www.allendaleforgestudios.co.uk/wp-content/uploads/2013/06/Wendy-Stanger-web-pic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 0px !important; }

.blog-jumbotron {
  background-color: #e6e7e8;
  border-radius: 0px !important;
  height: 350px;
  background-image: url("http://ingagorsvans-buell.com/wp-content/uploads/2016/03/Summer-Winds-Quilt-100px.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 0px !important; }

.directory-jumbotron {
  background-color: #e6e7e8;
  border-radius: 0px !important;
  height: 350px;
  background-image: url("http://www.mrxstitch.com/wp-content/uploads/2015/05/3D-mixed-media-textile-art-Isobel-Currie.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 0px !important; }

.gallery-jumbotron {
  background-color: #e6e7e8;
  border-radius: 0px !important;
  height: 350px;
  background-image: url("https://shelleybrucarblog.files.wordpress.com/2010/09/southern-lights-4-layer9.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 0px !important; }

.news-jumbotron {
  background-color: #e6e7e8;
  border-radius: 0px !important;
  height: 350px;
  background-image: url("https://aynhanna.files.wordpress.com/2011/03/2-screened-artcloth.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 0px !important; }

.grid-container {
  padding: 20px;
  background-color: #e6e7e8; }

.grid-item {
  width: 95px;
  height: 95px;
  background-color: #7f7d8a;
  margin: 2.5px; }
  .grid-item a {
    display: block; }
    .grid-item a img {
      max-width: 100%;
      height: auto; }

.grid-item--small a {
  transition: all 0.5s; }
  .grid-item--small a:hover, .grid-item--small a:focus {
    opacity: 0.75; }

.grid-item--large {
  width: 195px;
  height: 195px;
  background-color: #faa628;
  margin: 2.5px; }
  .grid-item--large:nth-of-type(6) {
    background-color: #f99c0f; }
  .grid-item--large:nth-of-type(2) {
    background-color: #ea8e05; }
  .grid-item--large:nth-of-type(11) {
    background-color: #d17f05; }

.twitter-wrapper {
  position: relative;
  margin: 0px;
  padding: 0px; }

.tweet {
  color: #f1f1f2;
  padding: 20px;
  font-size: 1.10em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow: hidden; }
  .tweet a {
    color: #f1f1f2;
    display: inline-block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-overflow: ellipsis; }
    .tweet a:hover, .tweet a:active, .tweet a:focus {
      color: #f1f1f2; }

#comment {
  width: 100%;
  border: 2px solid #e6e7e8; }
  #comment:focus {
    border-color: #faa628; }

.comment-submit {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  border: 2px solid #e6e7e8;
  transition: all 0.5s;
  font-weight: 600;
  background-color: transparent;
  color: #7f7d8a !important;
  padding: 7px 25px; }
  .comment-submit:link {
    background-color: transparent;
    border-color: #e6e7e8;
    color: #e6e7e8; }
  .comment-submit:hover {
    background-color: #faa628;
    border-color: #faa628;
    color: #ffffff;
    fill: #ffffff;
    text-decoration: none; }
  .comment-submit:hover svg {
    fill: #ffffff;
    left: 5px; }
  .comment-submit:active {
    background-color: #faa628;
    border-color: #faa628;
    color: #ffffff;
    box-shadow: none; }
  .comment-submit:active svg {
    fill: #ffffff;
    left: 5px; }
  .comment-submit:focus, .comment-submit:active:focus {
    background-color: #faa628;
    border-color: #faa628;
    color: #ffffff;
    outline: 5px auto #faa628; }
  .comment-submit:focus, .comment-submit:active:focus svg {
    fill: #ffffff;
    left: 5px; }
  .comment-submit:hover, .comment-submit:active, .comment-submit:focus {
    color: #ffffff !important; }

.comment-form-author input,
.comment-form-email input,
.comment-form-url input {
  border: 2px solid #e6e7e8; }
  @media (max-width: 767px) {
    .comment-form-author input,
    .comment-form-email input,
    .comment-form-url input {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .comment-form-author input,
    .comment-form-email input,
    .comment-form-url input {
      max-width: 90%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .comment-form-author input,
    .comment-form-email input,
    .comment-form-url input {
      max-width: 90%; } }
  @media (min-width: 1200px) and (max-width: 1439px) {
    .comment-form-author input,
    .comment-form-email input,
    .comment-form-url input {
      max-width: 90%; } }
  .comment-form-author input:focus,
  .comment-form-email input:focus,
  .comment-form-url input:focus {
    border-color: #faa628; }

.wp-pagenavi {
  margin-top: 60px;
  align-items: center;
  padding-left: 0;
  justify-content: center;
  list-style-type: none; }
  .wp-pagenavi a {
    padding: 12px 17px; }
  .wp-pagenavi .page {
    padding: 12px 17px;
    border: 1px solid #e6e7e8;
    font-size: 1.33em; }
  .wp-pagenavi .current {
    padding: 12px 17px;
    border: 1px solid #e6e7e8 !important;
    font-size: 1.33em;
    color: #faa628;
    font-weight: 600; }

.wp-pagenavi a:hover,
.wp-pagenavi span.current {
  border-color: #e6e7e8 !important;
  color: #ffffff;
  background-color: #e6e7e8; }

.previouspostslink {
  position: relative;
  display: inline-block;
  margin-right: 15px !important;
  font-size: 0;
  height: 50px !important;
  width: 50px !important;
  border-radius: 50%;
  border: 1px solid #e6e7e8;
  padding: 30px 0px 0px !important;
  transition: all 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  @media (max-width: 1199px) {
    .previouspostslink {
      border: 1px solid #e6e7e8;
      padding: 24px 0px 0px !important; } }
  .previouspostslink:before {
    position: absolute;
    top: 14px;
    content: "";
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 8.66px solid #7f7d8a;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .previouspostslink:hover, .previouspostslink:active, .previouspostslink:focus {
    background: #7f7d8a; }

.wp-pagenavi .page.smaller {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: 20px; }

.wp-pagenavi .page.larger {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-right: 20px; }

.nextpostslink {
  position: relative;
  display: inline-block;
  margin-left: 15px !important;
  font-size: 0;
  height: 50px !important;
  width: 50px !important;
  border-radius: 50%;
  border: 1px solid #e6e7e8;
  padding: 30px 0px 0px !important;
  transition: all 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  @media (max-width: 1199px) {
    .nextpostslink {
      border: 1px solid #e6e7e8;
      padding: 24px 0px 0px !important; } }
  .nextpostslink:before {
    position: absolute;
    overflow: hidden;
    right: 14px;
    content: "";
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8.66px solid #7f7d8a;
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .nextpostslink:hover, .nextpostslink:active, .nextpostslink:focus {
    background: #7f7d8a; }

.nextpostslink:hover:before, .nextpostslink:active:before, .nextpostslink:focus:before {
  border-left: 10.865px solid #ffffff; }

.previouspostslink:hover:before, .previouspostslink:active:before, .previouspostslink:focus:before {
  border-right: 10.865px solid #ffffff; }

.extend {
  display: none; }

.pager li > a {
  border-radius: 50%;
  padding: 0px; }
  .pager li > a:hover, .pager li > a:active, .pager li > a:focus {
    background-color: #7f7d8a; }

.previouspage {
  position: relative;
  height: 50px;
  width: 50px;
  padding: 0px;
  margin-right: 15px;
  border-radius: 50%;
  border: 1px solid #e6e7e8;
  transition: all 0.5s; }
  .previouspage:before {
    position: absolute;
    top: 17px;
    overflow: hidden;
    right: 20px;
    content: "";
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 11.124px solid #7f7d8a; }
    @media (max-width: 1199px) {
      .previouspage:before {
        right: 14px;
        top: 18px; } }
  .previouspage:hover, .previouspage:active, .previouspage:focus {
    background-color: #7f7d8a; }
    .previouspage:hover:before, .previouspage:active:before, .previouspage:focus:before {
      border-right: 12.124px solid #fff; }

.nextpage {
  position: relative;
  height: 50px;
  width: 50px;
  padding: 0px;
  margin-left: 15px;
  border-radius: 50%;
  border: 1px solid #e6e7e8;
  transition: all 0.5s; }
  .nextpage:before {
    position: absolute;
    top: 17px;
    overflow: hidden;
    right: 16px;
    content: "";
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 11.124px solid #7f7d8a; }
    @media (max-width: 1199px) {
      .nextpage:before {
        right: 14px;
        top: 18px; } }
  .nextpage:hover, .nextpage:active, .nextpage:focus {
    background-color: #7f7d8a; }
    .nextpage:hover:before, .nextpage:active:before, .nextpage:focus:before {
      border-left: 12.124px solid #fff; }

.page-numbers:not(.prev):not(.next) {
  display: none; }

.search-section {
  padding-top: 60px;
  padding-bottom: 60px; }

.search-input {
  border: 2px solid #e6e7e8;
  font-size: 1.33em;
  line-height: 1.8;
  margin-bottom: 30px;
  padding: 10px;
  width: 100%; }
  .search-input:focus {
    border: 2px solid #faa628; }

.search-submit {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  border: 2px solid #e6e7e8;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 1.33em;
  background-color: transparent;
  color: #7f7d8a !important;
  padding: 14px 35px; }
  .search-submit:link {
    background-color: transparent;
    border-color: #e6e7e8;
    color: #e6e7e8; }
  .search-submit:hover {
    background-color: #faa628;
    border-color: #faa628;
    color: #ffffff;
    fill: #ffffff;
    text-decoration: none; }
  .search-submit:hover svg {
    fill: #ffffff;
    left: 5px; }
  .search-submit:active {
    background-color: #faa628;
    border-color: #faa628;
    color: #ffffff;
    box-shadow: none; }
  .search-submit:active svg {
    fill: #ffffff;
    left: 5px; }
  .search-submit:focus, .search-submit:active:focus {
    background-color: #faa628;
    border-color: #faa628;
    color: #ffffff;
    outline: 5px auto #faa628; }
  .search-submit:focus, .search-submit:active:focus svg {
    fill: #ffffff;
    left: 5px; }
  .search-submit:hover, .search-submit:active, .search-submit:focus {
    color: #ffffff !important; }

.loop-link:hover {
  color: transparent; }

.no-thumbnail-loop {
  height: 150px;
  width: 150px;
  background-color: #7f7d8a; }
  .no-thumbnail-loop p:hover {
    text-decoration: none !important; }
  .no-thumbnail-loop:hover {
    opacity: 0.75; }

.homepage-jumbotron {
  background-color: #e6e7e8;
  border-radius: 0px !important;
  height: 675px;
  background-image: url("https://quiltingismytherapy.files.wordpress.com/2012/05/img_4758.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 0px !important; }

.jumbotron-container-homepage {
  background-color: #ffffff;
  border-radius: 0px;
  height: 675px; }
  @media (max-width: 991px) {
    .jumbotron-container-homepage .container {
      padding-left: 0px;
      padding-right: 0px; } }

/*
.headline-container {
	position: absolute;
	bottom: 37px;
}
*/
.headline {
  color: #f1f1f2 !important;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 80px !important;
  font-weight: 300;
  margin-left: 58px; }
  .headline:after {
    content: " ";
    position: absolute;
    left: 80px;
    bottom: -14px;
    height: 7px;
    width: 75px; }
  @media (max-width: 991px) {
    .headline {
      font-size: 60px !important; } }

.homepage-slider {
  margin-top: 50px;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 40px; }

.single-slider {
  width: 20%;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px; }

.slick-list {
  margin-left: -15px;
  margin-right: -15px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .slick-list {
      margin-left: -30px;
      margin-right: -30px; } }
  @media (max-width: 767px) {
    .slick-list {
      margin-left: 0;
      margin-right: 0; } }

.single-slider-link {
  transition: all 0.5s; }
  .single-slider-link:hover, .single-slider-link:active, .single-slider-link:focus {
    text-decoration: none; }
    .single-slider-link:hover .single-slider-img, .single-slider-link:active .single-slider-img, .single-slider-link:focus .single-slider-img {
      opacity: 0.7; }
    .single-slider-link:hover .single-slider-subheading, .single-slider-link:active .single-slider-subheading, .single-slider-link:focus .single-slider-subheading {
      color: #ea8c23;
      outline-width: 0; }
    .single-slider-link:hover .single-slider-heading, .single-slider-link:active .single-slider-heading, .single-slider-link:focus .single-slider-heading {
      color: #000000;
      outline-width: 0; }

.single-slider-img {
  width: 100%;
  height: 150px;
  background-color: #faa628;
  background-size: cover;
  background-position: center; }
  @media (max-width: 480px) {
    .single-slider-img {
      width: 100%; } }

.single-slider-subheading {
  color: #faa628;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 5px; }

.single-slider-heading {
  color: #231f20;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 300;
  padding-right: 50px;
  margin-top: 0px; }

.glance-section, .social-section {
  border-top: 1px solid #e6e7e8;
  padding-top: 40px;
  padding-bottom: 80px;
  overflow-x: hidden; }

.glance-subsection {
  margin-left: 0%;
  margin-right: 0%;
  padding-left: 0; }

.glance-block {
  padding-right: 20px;
  padding-left: 0px; }
  @media (max-width: 991px) {
    .glance-block {
      margin-bottom: 60px; } }

.glance-heading, .social-heading {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 25px;
  margin-left: 0%; }

.glance-subheading {
  color: #faa628;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin-bottom: 20px; }

.glance-text {
  min-height: 325px; }
  @media (max-width: 991px) {
    .glance-text {
      min-height: initial; } }

.glance-button {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  border: 2px solid #7f7d8a;
  transition: all 0.5s;
  font-weight: 600;
  color: #7f7d8a !important;
  padding: 15px 25px 18px; }
  .glance-button:link {
    background-color: transparent;
    border-color: #7f7d8a;
    color: #7f7d8a; }
  .glance-button:hover {
    background-color: #faa628;
    border-color: #faa628;
    color: #ffffff;
    fill: #ffffff;
    text-decoration: none; }
  .glance-button:hover svg {
    fill: #ffffff;
    left: 5px; }
  .glance-button:active {
    background-color: #faa628;
    border-color: #faa628;
    color: #ffffff;
    box-shadow: none; }
  .glance-button:active svg {
    fill: #ffffff;
    left: 5px; }
  .glance-button:focus, .glance-button:active:focus {
    background-color: #faa628;
    border-color: #faa628;
    color: #ffffff;
    outline: 5px auto #faa628; }
  .glance-button:focus, .glance-button:active:focus svg {
    fill: #ffffff;
    left: 5px; }
  .glance-button:hover, .glance-button:active, .glance-button:focus {
    color: #ffffff !important; }
    .glance-button:hover .glance-arrow, .glance-button:active .glance-arrow, .glance-button:focus .glance-arrow {
      border-left: 6.865px solid #ffffff; }
  @media (max-width: 767px) {
    .glance-button {
      display: block;
      text-align: center;
      font-size: 1.33em; } }

.glance-arrow {
  display: inline-block;
  margin-left: 7px;
  width: 7px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6.865px solid #7f7d8a;
  font-size: 0;
  height: 0;
  width: 0; }

.social-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.social-heading {
  display: inline-block; }

.social-icon-section {
  display: inline-block;
  margin-right: 0px;
  margin-top: 20px; }

.social-icon-container {
  display: inline-flex;
  width: 30px;
  height: 30px;
  background-color: #7f7d8a;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  margin-left: 4px; }
  .social-icon-container:hover {
    background-color: #37c6f4; }

.social-icon {
  height: 15px;
  width: 30px;
  fill: #ffffff;
  margin-top: 10px;
  border-radius: 50%; }

.slick-dots li {
  margin: 0px; }

.slick-dots li button:before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #7f7d8a;
  border-radius: 50%; }

.slick-dots li.slick-active button:before {
  background-color: #faa628; }

.slick-dots {
  bottom: -15px; }

.page-heading-section {
  padding-top: 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e6e7e8; }

.history-section {
  padding-top: 60px;
  padding-bottom: 40px; }

.section-heading {
  margin-bottom: 20px; }

.history-img-container {
  float: right;
  margin-right: 4.5%;
  margin-left: 40px;
  margin-top: 10px; }
  @media (max-width: 480px) {
    .history-img-container {
      float: none;
      margin-left: auto;
      margin-right: auto; } }

.history-img {
  height: 275px;
  width: 450px;
  background-image: url("http://www.surfacedesign.org/sites/default/files/aboutsda/historymain.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 480px) {
    .history-img {
      width: auto;
      height: 200px; } }

.history-img-caption {
  font-size: 1em;
  width: 450px;
  margin-right: 4.5%;
  background-color: #f1f1f2;
  padding: 15px; }
  @media (max-width: 480px) {
    .history-img-caption {
      width: auto;
      margin-right: initial; } }

.blog-title a:hover, .blog-title a:focus {
  color: initial;
  opacity: 0.75;
  text-decoration: none; }

.blog-author, .blog-author {
  display: inline; }

.blog-byline-divider {
  color: #e6e7e8;
  padding-left: 5px;
  padding-right: 5px; }

.blog-body {
  margin-top: 25px;
  margin-bottom: 45px; }

.blog-body p {
  display: inline; }

.single-blog-post-heading {
  margin-left: 4.5%; }

.single-post {
  border-bottom: 1px solid #e6e7e8; }

.last-post {
  border-bottom: none;
  padding-bottom: 0; }

.single-post-img {
  width: 109%;
  height: 109%; }
  @media (max-width: 767px) {
    .single-post-img {
      width: 100%;
      height: 100%;
      margin-top: 45px; } }

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px; }

.pagination-list {
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  justify-content: center;
  list-style-type: none;
  margin-left: 15px;
  margin-right: 15px; }

.pagination-li {
  padding: 12px 17px;
  border: 1px solid #e6e7e8;
  font-size: 1.33em; }

.pagination-link {
  color: #7f7d8a;
  transition: all 0.5s; }
  .pagination-link:hover, .pagination-link:active, .pagination-link:link {
    color: #faa628;
    text-decoration: none; }

#pagination-active-page {
  color: #faa628;
  font-weight: 600; }

.pagination-first-page {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: 20px; }

.pagination-last-page {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-right: 20px; }

.single-post-heading {
  padding-bottom: 60px;
  padding-top: 30px; }

.single-post-container {
  border-bottom: 1px solid #e6e7e8;
  margin-left: -15px; }

.tag-container {
  padding-top: 40px;
  padding-bottom: 40px; }

.single-tag {
  display: inline-block;
  color: #7f7d8a;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.5s; }
  .single-tag:hover, .single-tag:active, .single-tag:focus {
    color: #56555e; }

.tag-before {
  display: inline-block;
  padding-right: 5px; }

.comments-number {
  margin-bottom: 45px; }

.comment-section {
  padding-top: 40px;
  padding-bottom: 60px;
  border-bottom: 1px solid #e6e7e8; }

.comment-container {
  padding-left: 0px; }
  .comment-container li {
    list-style-type: none; }

.comment {
  background-color: #e6e7e8;
  padding: 20px;
  margin-bottom: 20px; }

.comment-author {
  display: inline-block;
  margin-right: 5px;
  font-size: 1.05em; }

.comment-body p {
  color: black;
  font-size: 1.05em; }

.comment-meta {
  display: inline-block;
  float: right;
  font-size: 1.05em;
  font-style: italic; }

.comment-reply {
  display: inline-block;
  margin-left: 5px;
  font-weight: 600; }

.comment-reply a {
  color: #faa628; }

.comment-form-comment label {
  display: block; }

.children .comment {
  background-color: #f3f4f4;
  margin-top: -20px;
  font-size: 19.551px; }

.related-articles {
  border-top: 1px solid #e6e7e8;
  margin-top: 45px;
  padding-top: 45px; }

.related-articles-thumbnail {
  height: 150px;
  width: 150px; }

.no-thumbnail {
  height: 150px;
  width: 150px;
  background-color: #faa628; }

.related-articles-list {
  padding-left: 0px;
  display: flex; }

.single-related-article {
  position: relative;
  display: inline-block;
  margin-right: 20px; }

.related-articles-heading {
  padding-bottom: 40px; }

.related-posts-link:hover .related-posts-overlay {
  opacity: 1.0; }
.related-posts-link:hover .no-thumbnail-msg {
  visibility: hidden; }

.related-posts-title {
  color: #f1f1f2;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 16px; }

.related-posts-overlay {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: #37c6f4;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 0.5s; }

.related-posts-title-container {
  position: relative;
  top: 25%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.related-posts-tag {
  font-size: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #f1f1f2;
  padding-left: 10px; }

.no-thumbnail-msg {
  color: #f1f1f2;
  text-align: center;
  position: relative;
  top: 50%;
  font-size: 12px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.tag-page {
  padding-bottom: 60px; }

.tag-page-heading {
  margin-bottom: 0px;
  margin-top: 60px; }

.blog-loop {
  clear: both;
  padding-top: 60px; }

.loop-title {
  margin-top: 0px; }

.loop-body p {
  display: inline; }

.tag-cloud-heading {
  padding-top: 45px;
  display: inline-block; }

.wp-tag-cloud {
  padding-left: 10px;
  list-style-type: none;
  display: inline-block;
  padding-left: 5px; }
  .wp-tag-cloud li {
    display: inline-block; }
    .wp-tag-cloud li:after {
      content: ', '; }
    .wp-tag-cloud li a {
      color: #231f20;
      font-size: 1.33em !important; }
      .wp-tag-cloud li a:hover {
        color: #000000; }

.wp-tag-cloud li:last-of-type:after {
  content: ''; }

.read-more {
  display: inline;
  font-size: 1.33em;
  font-weight: 600; }

.author a {
  color: #faa628; }

.cat-list {
  display: inline-block;
  padding-left: 10px; }

.cat-item {
  display: inline-block; }
  .cat-item:after {
    content: ', '; }
  .cat-item:last-of-type:after {
    content: ''; }

.directory-filter-container {
  padding-left: 0px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .directory-filter-container {
      width: 100%;
      margin-top: 20px; } }
  @media (max-width: 767px) {
    .directory-filter-container {
      margin-top: 20px; } }

.directory-label {
  display: block;
  color: #7f7d8a; }

.directory-input {
  border-radius: 0px;
  width: 100%;
  display: inline-block; }

/* selectpicker */
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%; }

.directory-submit {
  border-radius: 0px;
  margin-left: 0px;
  margin-top: 24px;
  padding: 7px 12px;
  color: #7f7d8a; }
  @media (max-width: 991px) {
    .directory-submit {
      margin-left: 0px;
      width: 100%; } }

.bootstrap-select > button {
  border-radius: 0px;
  color: #7f7d8a; }

.directory-special-field-list {
  padding-left: 0px;
  margin-bottom: 0px; }

.directory-special-field {
  list-style-type: none;
  display: inline-block;
  padding-right: 10px;
  font-size: 14px;
  color: black;
  font-weight: 500; }
  .directory-special-field:after {
    content: ','; }
  .directory-special-field:last-of-type:after {
    content: ''; }

.social-list {
  padding-left: 0px !important; }

table .social-list {
  margin-bottom: 0px; }

.table > tbody > tr > td {
  vertical-align: middle; }

button[data-id="select-states"] .caret,
button[data-id="select-country"] .caret,
button[data-id="select-media"] .caret,
button[data-id="select-technique"] .caret,
button[data-id="category"] .caret {
  display: initial; }
  @media (max-width: 1199px) {
    button[data-id="select-states"] .caret,
    button[data-id="select-country"] .caret,
    button[data-id="select-media"] .caret,
    button[data-id="select-technique"] .caret,
    button[data-id="category"] .caret {
      border-top: 4px dashed #7f7d8a;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      border-bottom: none; } }

.post-categories {
  margin-bottom: 0px !important;
  padding-left: 0px !important; }
  .post-categories li {
    display: inline-block;
    font-size: 14px;
    font-weight: 500px; }
    .post-categories li:after {
      content: ','; }
    .post-categories li:last-of-type:after {
      content: ''; }
    .post-categories li a {
      font-weight: 500; }

.directory-input[name="firstName"] {
  width: 49%;
  border-right: none;
  box-shadow: none; }

.directory-input[name="lastName"] {
  width: 49%;
  margin-left: -4px;
  border-left: 1px solid #e6e7e8;
  box-shadow: none; }

.form-control:focus {
  border-color: #faa628;
  box-shadow: none; }

.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
  border-color: #faa628; }

.gallery-heading-section {
  padding-top: 60px;
  padding-bottom: 40px; }

.gallery-sm-img {
  width: 100%;
  height: 225px;
  margin-left: -15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.gallery-img-caption {
  text-align: center;
  padding: 15px 15px 30px 15px;
  margin-left: -15px;
  height: 125px; }

.caption-name {
  font-weight: 600;
  text-decoration: underline;
  color: #56555e; }

.caption-name, .caption-title {
  margin-bottom: 0px;
  line-height: 1.25; }

.caption-title {
  text-overflow: ellipsis;
  font-size: 1.10em; }

.member-gallery-post {
  margin-top: 60px; }

.filter-section {
  margin-top: 45px; }

.member-gallery-img-container {
  padding-left: 0px; }

.member-gallery-img {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .member-gallery-img {
      height: 200px; } }
  @media (max-width: 991px) {
    .member-gallery-img {
      height: 300px; } }

.lg-outer .lg-image {
  max-height: 90%;
  max-height: 90%; }

.lg-sub-html {
  text-align: left; }
  .lg-sub-html a {
    color: #ffffff;
    text-decoration: underline; }

.caption-comma:after {
  content: ', '; }
.caption-comma:last-of-type:after {
  content: ''; }

.leadership-letter-container {
  border-bottom: 1px solid #e6e7e8; }

.leadership-letter-flex {
  display: flex; }
  @media (max-width: 991px) {
    .leadership-letter-flex {
      display: initial; } }

.leadership-letter-left {
  border-right: 1px solid #e6e7e8;
  padding-right: 45px;
  padding-top: 60px;
  flex: 1; }

.leadership-letter-right {
  padding-left: 45px;
  padding-top: 60px;
  flex: 1; }

.leadership-letter-heading {
  margin-bottom: 0px; }

.leadership-letter-title {
  margin-top: 5px;
  margin-bottom: 30px;
  font-style: italic;
  font-size: 2em; }

.leadership-letter-img {
  float: right;
  height: 180px;
  width: 180px;
  margin-left: 25px;
  margin-bottom: 25px;
  margin-top: 10px; }

.boardstaff-sm-img {
  width: 100%;
  height: 225px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.boardstaff-caption {
  padding-bottom: 30px; }

.boardstaff-name {
  margin-bottom: 0px;
  font-size: 2em; }

.boardstaff-position {
  margin-top: 0px;
  font-style: italic;
  font-size: 1.15em; }

.boardstaff-section {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e6e7e8; }

.boardstaff-subheading {
  padding-bottom: 30px; }

.news-section {
  padding-top: 60px;
  padding-bottom: 60px; }

.news-item {
  margin-bottom: 45px; }

.news-img {
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.news-date {
  margin-top: 0px; }
  @media (max-width: 767px) {
    .news-date {
      margin-top: 20px; } }

.news-release {
  display: inline;
  padding-right: 5px; }
  .news-release a {
    text-decoration: underline; }
  @media (max-width: 991px) {
    .news-release {
      display: block;
      margin-bottom: 0px; } }

.news-calendar {
  display: inline; }
  .news-calendar a {
    text-decoration: underline;
    padding-left: 5px; }
  @media (max-width: 991px) {
    .news-calendar {
      display: block;
      margin-bottom: 10px; }
      .news-calendar a {
        padding-left: 0px; } }

.calendar-img {
  width: 100%;
  height: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

body.single-tribe_events .tribe-events-cal-links a.tribe-events-ical {
  display: none !important; }

body.single-tribe_events .tribe-events-cal-links a.tribe-events-gcal {
  display: none !important; }

.calendar-left-container {
  margin-left: 4.5%;
  padding-left: 15px; }
  @media (max-width: 767px) {
    .calendar-left-container {
      margin-right: 4.5%;
      padding-left: 0px; } }

.calendar-right-container {
  margin-right: 4.5%; }
  @media (max-width: 767px) {
    .calendar-right-container {
      margin-left: 4.5%;
      padding-left: 0px;
      padding-top: 20px; } }

.author-bio-section {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #e6e7e8; }

.author-container-left {
  margin-left: 5.4%;
  padding-left: 15px; }
  @media (max-width: 767px) {
    .author-container-left {
      padding-left: 0px; } }

.author-container-right {
  margin-right: 5.4%;
  padding-right: 15px; }
  @media (max-width: 767px) {
    .author-container-right {
      padding-right: 0px;
      padding-left: 0px;
      margin-left: 5.4%; } }

.avatar {
  width: 100%;
  height: auto; }

.author-url {
  margin-top: 15px; }

.author-gallery-section {
  padding-top: 60px;
  padding-bottom: 60px; }

.artwork-container {
  width: 100%;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin: 0; }
  .artwork-container img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0; }

/*# sourceMappingURL=main.css.map */
