.slick-prev {
	left: -80px;
	top: 130px;
	padding-right: 3px;
	transition: $transition;
	&:hover, &:focus {
		&:before {
		border-right: 10.865px solid $white;
		}
	}
}

.slick-next {
	right: -80px;
	top: 130px;
	padding-left: 3px;
	transition: $transition;
	&:hover, &:focus {
		&:before {
		border-left: 10.865px solid $white;
		}
	}
}

.slick-prev:before {
	content: "";
	font-size: 0;
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent; 
	border-right: 10.865px solid $silver;
}


.slick-next:before {
	content: "";
	font-size: 0;
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 10.865px solid $silver;
}

.slick-prev, .slick-next {
	font-size: 0;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 1px solid $pale-grey;
	&:hover, &:active, &:focus {
		background: $silver;
	}
}

.prev-btn {
	font-size: 0;
	height: 50px;
	width: 50px;
	border-radius: 50%;
    border: 1px solid #e6e7e8;
    padding-left: 17px;
    padding-top: 24px;
    transition: $transition;
    &:hover, &:active, &:focus {
    	background: $silver;
    	&:before {
    		border-right: 10.865px solid $white;
    	}
    }
    &:before {
    	content: "";
	    font-size: 0;
	    width: 0;
	    height: 0;
	    border-top: 5px solid transparent;
	    border-bottom: 5px solid transparent;
	    border-right: 10.865px solid #7f7d8a;
    }
}

.next-btn {
	font-size: 0;
	height: 50px;
	width: 50px;
	border-radius: 50%;
    border: 1px solid #e6e7e8;
    padding-left: 21px;
    padding-top: 24px;
    transition: $transition;
    &:hover, &:active, &:focus {
    	background: $silver;
    	&:before {
    		border-left: 10.865px solid $white;
    	}
    }
    &:before {
    	content: "";
	    font-size: 0;
	    width: 0;
	    height: 0;
	    border-top: 5px solid transparent;
	    border-bottom: 5px solid transparent;
	    border-left: 10.865px solid #7f7d8a;
    }
}

input, textarea {
	&:focus {
		outline: $saffron auto 2px;
		border: $saffron;
	}
}


