
.grid-container {
	
}


.grid-item { 
	width: 112px;
	height: 112px;
	background-color: $silver;
	margin: 2.5px; 

    a {
        display: block;
        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.grid-item--small {
    border: 1px solid #f1f1f1;

    a {
    	transition: $transition;
    	&:hover, &:focus {
    		opacity: 0.75;
    	}
    }
}


.grid-item--large {
	width: 229px;
	height: 229px;
	background-color: $saffron;
	margin: 2.5px;
	&:nth-of-type(6) {
		background-color: darken($saffron, 5%);
	}
	&:nth-of-type(2) {
		background-color: darken($saffron, 10%);
	}
	&:nth-of-type(11) {
		background-color: darken($saffron, 15%);
	}
}

.twitter-wrapper {
	position: relative;
	margin: 0px;
	padding: 0px;
    height: 100%;
}

.tweet {
	color: $eggshell;
    padding: 20px;
    font-size: 1.10em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
    height: 92%;
    margin: 0;

    a {
	    color: $eggshell;
	    display: inline-block;
	    overflow-wrap: break-word;
		word-wrap: break-word;
	    text-overflow: ellipsis;
	    &:hover, &:active, &:focus {
		    color: $eggshell;
	    }
    }
    a[data-expanded-url] {
	    display: block;
	    overflow: hidden;
		word-break: break-all;
	    
    }
}