

.grid-item { 
	width: 95px;
	height: 95px;
	background-color: red;
	margin: 2.5px; 

    a {
        display: block;
        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.grid-item--large {
	width: 195px;
	height: 195px;
	background-color: $saffron;
	margin: 2.5px;
	&:nth-of-type(6) {
		background-color: darken($saffron, 5%);
	}
	&:nth-of-type(2) {
		background-color: darken($saffron, 10%);
	}
	&:nth-of-type(11) {
		background-color: darken($saffron, 15%);
	}
}

.tweet {
	color: $eggshell;
    padding: 20px;
    font-size: 1em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    a {
	    color: $eggshell;
	    &:hover, &:active, &:focus {
		    color: $eggshell;
	    }
    }
}