.wp-pagenavi {
	margin-top: 60px;
	align-items: center;
    padding-left: 0;
    justify-content: center;
    list-style-type: none;
    a {
	    padding: 12px 17px;
    }
	.page {
		padding: 12px 17px;
		border: 1px solid $pale-grey;
		font-size: 1.33em;
	}
	.current {
		padding: 12px 17px;
		border: 1px solid #e6e7e8 !important;
		font-size: 1.33em;
		color: #faa628;
		font-weight: 600;
	}
}

.wp-pagenavi a:hover, 
.wp-pagenavi span.current {
	border-color: $pale-grey !important;
}


.previouspostslink {
	position: relative;
	margin-right: 15px !important;	
	font-size: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #e6e7e8 !important;
    padding-left: 17px !important;
    padding-top: 24px !important;
    transition: all 0.5s;
    &:before {
	    position: absolute;
	    right: 13px;
	    top: 14px;
	    content: "";
		font-size: 0;
		width: 0;
		height: 0;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-right: 10.865px solid #7f7d8a;
    }
      &:hover, &:active, &:focus {
	    background: #7f7d8a;
    }
}

.wp-pagenavi .page.smaller {
	border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 20px;
}

.wp-pagenavi .page.larger {
	border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-right: 20px;
}

.nextpostslink {
	position: relative;
	margin-left: 15px !important;
	font-size: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #e6e7e8;
    padding-left: 21px !important;
    padding-top: 24px !important;
    transition: all 0.5s;
    &:before {
	    position: absolute;
	    top: 13px;
	    right: 14px;
	    content: "";
	    font-size: 0;
	    width: 0;
	    height: 0;
	    border-top: 5px solid transparent;
	    border-bottom: 5px solid transparent;
	    border-left: 10.865px solid #7f7d8a;
    }
    &:hover, &:active, &:focus {
	    background: #7f7d8a;
    }
}

.nextpostslink:hover:before, .nextpostslink:active:before, .nextpostslink:focus:before {
    border-left: 10.865px solid #ffffff;
}

.previouspostslink:hover:before, .previouspostslink:active:before, .previouspostslink:focus:before {
    border-right: 10.865px solid #ffffff;
}


