


.wp-pagenavi {
	margin-top: 60px;
	align-items: center;
    padding-left: 0;
    justify-content: center;
    list-style-type: none;
    a {
	    padding: 12px 17px;
    }
	.page {
		padding: 12px 17px;
		border: 1px solid $pale-grey;
		font-size: 1.33em;
	}
	.current {
		padding: 12px 17px;
		border: 1px solid #e6e7e8 !important;
		font-size: 1.33em;
		color: #faa628;
		font-weight: 600;
	}
}

.wp-pagenavi a:hover, 
.wp-pagenavi span.current {
	border-color: $pale-grey !important;
	color: $white;
	background-color: $pale-grey;
}


.previouspostslink {
	position: relative;
	display: inline-block;
	margin-right: 15px !important;
	font-size: 0;
    height: 50px !important;
    width: 50px !important;
    border-radius: 50%;
    border: 1px solid #e6e7e8;
    padding: 30px 0px 0px !important;
    transition: all 0.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

     @include screen-ltlg {
	    border: 1px solid $pale-grey;
	    padding: 24px 0px 0px !important;
    }
    &:before {
	    position: absolute;
	    //right: 13px;
	    top: 14px;
	    content: "";
		font-size: 0;
		width: 0;
		height: 0;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-right: 8.66px solid #7f7d8a;
		top: 50%;
	    right: 20px;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
    }
      &:hover, &:active, &:focus {
	    background: #7f7d8a;
    }
}

.wp-pagenavi .page.smaller {
	border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 20px;
}

.wp-pagenavi .page.larger {
	border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-right: 20px;
}

.nextpostslink {
	position: relative;
	display: inline-block;
	margin-left: 15px !important;
	font-size: 0;
    height: 50px !important;
    width: 50px !important;
    border-radius: 50%;
    border: 1px solid #e6e7e8;
    padding: 30px 0px 0px !important;
    transition: all 0.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    @include screen-ltlg {
	    border: 1px solid $pale-grey;
	    padding: 24px 0px 0px !important;
	    
    }
    &:before {
	    position: absolute;
	   	//top: 13px;
	   	overflow: hidden;
	    right: 14px;
	    content: "";
	    font-size: 0;
	    width: 0;
	    height: 0;
	    border-top: 5px solid transparent;
	    border-bottom: 5px solid transparent;
	    border-left: 8.66px solid #7f7d8a;
	    //position: relative; 
	    top: 50%;
	    left: 20px;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
    }
    &:hover, &:active, &:focus {
	    background: #7f7d8a;
    }
}

.nextpostslink:hover:before, .nextpostslink:active:before, .nextpostslink:focus:before {
    border-left: 10.865px solid #ffffff;
}

.previouspostslink:hover:before, .previouspostslink:active:before, .previouspostslink:focus:before {
    border-right: 10.865px solid #ffffff;
}

.extend {
	display: none;
}

.pager li>a {
	border-radius: 50%;
	padding: 0px;
	&:hover, &:active, &:focus {
		background-color: #7f7d8a;
	}
}

.previouspage {
	position: relative;
    height: 50px;
    width: 50px;
	padding: 0px;
	margin-right: 15px;
	border-radius: 50%;
	border: 1px solid #e6e7e8;
	 transition: all 0.5s;
	 &:before {
	    position: absolute;
	   	top: 17px;
	   	overflow: hidden;
	    right: 20px;
	    content: "";
	    font-size: 0;
	    width: 0;
	    height: 0;
	    border-top: 7px solid transparent;
	    border-bottom: 7px solid transparent;
	    border-right: 11.124px solid #7f7d8a;
	    @include screen-ltlg {
		    right: 14px;
		    top: 18px;
	    }
    }
    &:hover, &:active, &:focus {
	    background-color: #7f7d8a;
	    &:before {
		    border-right: 12.124px solid #fff;
	    }
    }

}

.nextpage {
	position: relative;
	height: 50px;
    width: 50px;
	padding: 0px;
	margin-left: 15px;
	border-radius: 50%;
	border: 1px solid #e6e7e8;  //#e6e7e8
	transition: all 0.5s;
	 &:before {
	    position: absolute;
	   	top: 17px;
	   	overflow: hidden;
	    right: 16px;
	    content: "";
	    font-size: 0;
	    width: 0;
	    height: 0;
	    border-top: 7px solid transparent;
	    border-bottom: 7px solid transparent;
	    border-left: 11.124px solid #7f7d8a;
	    @include screen-ltlg {
		    right: 14px;
		    top: 18px;
	    }
    }
    &:hover, &:active, &:focus {
	    background-color: #7f7d8a;
	    &:before {
		    border-left: 12.124px solid #fff;
	    }
    }

}

.page-numbers:not(.prev):not(.next) {
	display: none;
}
