.search-input {
	border: 2px solid $pale-grey;
	font-size: 1.33em;
	line-height: 1.8;
	margin-bottom: 30px;
	padding: 10px;
	width: 100%;
	&:focus {
		border: 2px solid $saffron;
	}
}

.search-submit {
	@include alt-button($pale-grey, $saffron, $white);
	font-weight: 600;
	font-size: 1.33em;
	background-color: transparent;
	color: $silver !important;
	padding: 7px 25px;
	
	&:hover, &:active, &:focus {
		color: $white !important;
		
	}	

}