.search-section {
	padding-top: 60px;
	padding-bottom: 60px;
}

.search-input {
	border: 2px solid $pale-grey;
	font-size: 1.33em;
	line-height: 1.8;
	margin-bottom: 30px;
	padding: 10px;
	width: 100%;
	&:focus {
		border: 2px solid $saffron;
	}
}

.search-submit {
	@include alt-button($pale-grey, $saffron, $white);
	font-weight: 600;
	font-size: 1.33em;
	background-color: transparent;
	color: $silver !important;
	padding: 14px 35px;
	
	&:hover, &:active, &:focus {
		color: $white !important;
		
	}	

}

.loop-link {
	&:hover {
		color: transparent;
	}
}

.no-thumbnail-loop {
	height: 150px;
	width: 150px;
	background-color: $silver;
	p {
		&:hover {
			text-decoration: none !important;
		}
	}
	&:hover {
		opacity: 0.75;
		
	}
}

.blog-search-container {
	float: right;
	display:  inline-block;
	margin-right: 5.4%;
}

.blog-search-submit {
	padding: 6px 17px;
    color: #7f7d8a;
    background-color: initial;
    border: 1px solid #ccc;
    text-transform: initial;
    font-size: 14px;
    font-weight: 700;
    margin-top: 25px;
    &:focus {
	    outline: $saffron auto 3px;
    }
}

.blog-search-label {
	color: $dark-silver;
}

.blog-search-input {
	padding: 6px 12px;
    color: #7f7d8a;
    background-color: initial;
    border: 1px solid #ccc;
    text-transform: initial;
    font-size: 14px;
}