.accented-text {
	font-weight: 600;
}

.right-arrow {
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 6.865px solid $silver;
	display: inline-block;
	font-size: 0;
	height: 0;
	margin-left: 7px; 
	width: 0; 
}

.indented-container {
	margin-left: 5.4%;
	margin-right: 5.4%;
}

.invisible-divider {
	margin-top: 60px;
}

.indented-container-left {
	margin-left: 5.4%;
	padding-left: 0;
}

.indented-container-right {
	margin-right: 5.4%;
	padding-right: 0;
}

.directory-table {
	padding-top: 45px;
}

.padding-left {
	padding-left: 15px;
}

.no-left-padding {
	padding-left: 0px;
}


/** WP WYSIWYG editor styles **/
img.alignright { 
	float: right; margin: 0 0 1em 1em; 
	@include screen-xs {
		margin-left: 0px;
		width: 100%;
		height: auto;
	}
}

img.alignleft { 
	float: left; margin: 0 1em 1em 0; 
	@include screen-xs {
		margin-right: 0px;
		width: 100%;
		height: auto;
	}

}

img.aligncenter { 
	display: block; margin-left: auto; margin-right: auto; 
}

.alignright { 
	float: right; 
}

.alignleft { 
	float: left; 
}

.aligncenter { 
	display: block; margin-left: auto; margin-right: auto; 
}

