// Google fonts
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700,600);

body {
    font-family: $sans-serif;
}

h1, h2, h3 {
	font-weight: 300;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2.258em;
}

h4 {
	font-size: 1.756em;
}

h5 {
	font-size: 1.33em;
	color: $saffron;
	font-weight: 600;
	text-transform: uppercase;
}

p, ul {
    font-family: $sans-serif;
    font-weight: 300;
	color: $silver;
	font-size: 1.33em; // ~18px
	line-height: 1.8;
    margin-bottom: 25px;
}



nav {
	font-family: $sans-serif;
}

a {
	color: initial;
	&:hover, &:focus, &:active {
		outline: none;
	}
}

p>a {
	color: $dark-silver;
	font-weight: 600;
	transition: $transition;
	&:hover, &:active, &:focus {
		color: $off-black;
	}
}