#tribe-bar-form {
	margin-left: 5.4% !important;
	margin-right: 5.4% !important;
	padding-left: 15px;
	
}




.tribe-events-list-separator-month {
	visibility: hidden;
	margin: 0px;
}

.tribe-events-list h2.tribe-events-page-title {
    margin-bottom: 0px;
    visibility: hidden;
}


.tribe-events-list-event-title {
	margin-top: 0px;
}

.tribe-events-list .tribe-events-loop .tribe-events-content:first-of-type + p {
	display: inline;
}


.find-out-more {
	display: inline;
	font-weight: 600;
    font-size: 1.33em;
}

.tribe-event-categories {
	display: inline;
	font-size: 1.33em;
	padding-left: 0px;
	font-weight: 600;
}

.tribe-event-categories li {
	list-style-type: none;
	display: inline;	
}

.tribe-event-categories li:after {
	content: ', ';
}

.tribe-event-categories li:last-of-type:after {
	content: '';
}

#tribe-bar-form {
	background: initial;
	margin-top: 30px;
	max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#tribe-bar-form input[type=text] {
	border: 1px solid #ccc;
	color: #555;
	height: 34px;
	line-height: 1.42857134;
	font-size: 14px;
	padding: 6px 12px;
}

#tribe-bar-form input[type=text]:focus {
	border: 1px solid #faa628;
	outline: none;
}

button[data-id="select-category"] .caret {
	display: initial;
}


.tribe-bar-submit {
	margin-left: 0px;
	margin-top: 19px;
	width: 16.6666667%;
}

#tribe-bar-form .tribe-bar-submit input[type=submit] {
	padding: 6px 12px !important;
	color: #7f7d8a !important; /* silver */
	background-color: initial !important;
	border: 1px solid #ccc !important;
	text-transform: initial !important;
	/* width: initial !important; */
	font-size: 14px !important;
}

@media (max-width: 768px) {
	#tribe-bar-form .tribe-bar-submit input[type=submit] {
		width: 100% !important;
	}
}

#tribe-bar-form label {
	color: #7f7d8a !important; /* silver */
	text-transform: initial !important;
	font-size: 14px !important;
}

.tribe-events-list .type-tribe_events {
	border-bottom: none !important;
}

#tribe-events-pg-template {
	max-width: initial !important;
}

#tribe-events-pg-template .tribe-events-content h1, .tribe-events-after-html h1, .tribe-events-before-html h1 {
	font-size: 3em; 
}

.tribe-events-event-image {
	float: left;
	margin-right: 30px;
}

#tribe-events-pg-template .tribe-events-content h3 {
	font-size: 2.258em;
	font-weight: 300;
}


.tribe-events-cal-links {
	display: none;
}

a.tribe-events-ical {
	display: none;
}



#tribe-events-footer~a.tribe-events-ical.tribe-events-button {
	display: none;
}


.tribe-events-single-section {
	clear: both;
	font-weight: 300;
	font-size: 1.33em;
}


dt {
	font-weight: 600;
	text-transform: uppercase;
}

dd {
	margin-bottom: 20px;
}

.tribe-events-sub-nav {
	text-transform: uppercase;
	font-size: 1.33em;
	font-weight: 600;
}

.tribe-events-sub-nav>li>a {
	color: #faa628;
}

.tribe-events-sub-nav>li>a:hover {
	color: #ea8c23;
}

.tribe-events-single-event-title {
	padding-top: 20px;
	padding-bottom: 20px;
}

.tribe-events-meta-group .tribe-events-single-section-title {
	font-weight: 300;
	font-size: 2.258em;
}

.tribe-events-event-meta .tribe-events-meta-group {
   padding-left: 0px;
}

.tribe-events-event-url, .url {
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.tribe-bar-date-filter,
.tribe-bar-search-filter,
.tribe-bar-geoloc-filter,
.event-category-filter {
	width: 20% !important;
}

.event-category-filter {
	float: left;
	padding: 15px;
}


.tribe-events-user-recurrence-toggle {
	display: none !important;
}

.screen-reader-text {
	display: none !important;
}

#tribe-events .tribe-events-content p {
	display: inline;
}

.tribe-events-loop .tribe-events-content {
	width: 0%;
	padding: 0px;
}

.tribe-bar-views-inner {
	background-color: transparent;
	padding: 0px;
	margin-top: 14px;
	
}

#tribe-bar-form .tribe-bar-views-inner label {
	padding: 0px;
}

#tribe-bar-views li.tribe-bar-views-option {
	font-size: 14px;
	font-weight: 700;
}

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a,
.tribe-bar-mini #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
	padding: 9px 15px;
}

#tribe-bar-form.tribe-bar-mini * {
	font-size: 14px;
}

.tribe-bar-mini .tribe-bar-submit {
	margin-left: 0px;
	width: 20%;
}

.tribe-bar-mini .event-category-filter {
	padding: 10px;
}

.tribe-bar-mini .tribe-bar-views-inner {
	padding: 0px;
	margin-top: 10px;
}

#tribe-events-content .tribe-events-calendar div[id*=tribe-events-event-] h3.tribe-events-month-event-title {
	padding: 5px;
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	
}

.tribe-grid-allday .column.first span {
	left: 25px !important;
	margin-top: -15px !important;
}

.tribe-events-grid .tribe-scroller>.scroller-pane {
	opacity: 1.0;
}

#tribe-bar-form #tribe-bar-views+.tribe-bar-filters {
	right: 12.5%;
	 width: 82.3333%;
}

#tribe-bar-form #tribe-bar-views {
	left: 82.3333%;
	width: 14%;
}

@media (max-width: 1150px) {
	button[data-id="select-category"] .caret {
		border-top: 4px dashed #7f7d8a;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
		border-bottom: none;
	}
}

@media (max-width: 1025px) {
	.tribe-bar-collapse #tribe-bar-collapse-toggle {
    	width: 100%;
    }
    
    #tribe-bar-form.tribe-bar-collapse #tribe-bar-views {
	    width: 100%;
    }
    
    #tribe-bar-form {
	    margin-left: auto !important;
	    margin-right: auto !important;
    }
}


@media (max-width: 768px) {
	.tribe-events-sub-nav li a {
		background: transparent;
		color: #faa628;
		
	}
	.tribe-events-sub-nav li a:hover,
	.tribe-events-sub-nav li a:active,
	.tribe-events-sub-nav li a:focus,
	.tribe-events-sub-nav li a:visited {
		color: #faa628;
	}
	
	.tribe-bar-date-filter,
	.tribe-bar-search-filter,
	.tribe-bar-geoloc-filter,
	.event-category-filter {
	width: 100% !important;
}

	
}

@media (max-width: 480px) {
	
	#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous,
	#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next {
		width: 100%;
	}
	
	#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next {
		float: none;
		text-align: center;
	}
	
	#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous {
		float: none;
		text-align: center;
	}
	
}

@media (min-width: 1281px) {
	#tribe-bar-form {
		margin-left: auto !important;
		margin-right: auto !important;
		max-width: 1100px;
	}
}

#tribe-events-header .tribe-events-sub-nav {
	display: none;
}

#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous, 
#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next
{
	float: none;
}

