.blog-author, .blog-author {
	display: inline;
}


.blog-byline-divider {
	color: $pale-grey;
}


.blog-body {
	margin-top: 45px;
	margin-bottom: 45px;
}


.single-blog-post-heading {
	margin-left: 4.5%;
}


.single-post {
	border-bottom: 1px solid $pale-grey;
}

.last-post {
	border-bottom: none;
	padding-bottom: 0;
}



.single-post-img {
	width: 109%;
	height: 109%;
}

.pagination-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 60px;
}

.pagination-list {
	display: inline-flex;
	align-items: center;
	padding-left: 0;
	justify-content: center;
	list-style-type: none;
	margin-left: 15px;
	margin-right: 15px;
}

.pagination-li {
	padding: 12px 17px;
	border: 1px solid $pale-grey;
	font-size: 1.33em;
}

.pagination-link {
	color: $silver;
	transition: $transition;
	&:hover, &:active, &:link {
		color: $saffron;
		text-decoration: none;
	}
}

#pagination-active-page {
	color: $saffron;
	font-weight: 600;
}

.pagination-first-page {
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	padding-left: 20px;
}

.pagination-last-page {
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	padding-right: 20px;
}

.single-post-page {
	padding-top: 80px;
}

.single-post-heading {
	padding-bottom: 60px;
}

.single-post-container {
	border-bottom: 1px solid $pale-grey;
}

.tag-container {
	padding-top: 40px;
	padding-bottom: 40px;
}

.single-tag {
	display: inline-block;
	color: $silver;
	font-size: 18px;
	font-weight: 600;
	transition: $transition;
	&:hover, &:active, &:focus {
		color: $dark-silver;
	}
}


.tag-before {
	display: inline-block;
}

.comment-section {
	padding-top: 40px;
	padding-bottom: 60px;
	border-bottom: 1px solid $pale-grey;
}