.calendar-img {
	width: 100%;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: $transition;
    &:hover, &:focus, &:active {
	    opacity: 0.75;
    }	
}

body.single-tribe_events .tribe-events-cal-links a.tribe-events-ical {
    display: none !important;
}

body.single-tribe_events .tribe-events-cal-links a.tribe-events-gcal {
    display: none !important;
}


.calendar-left-container {
	margin-left: 4.5%;
	padding-left: 15px;
	@include screen-xs {
		margin-right: 4.5%;
		padding-left: 0px;
	}
}	

.calendar-right-container {
	margin-right: 4.5%;
	@include screen-xs {
		margin-left: 4.5%;
		padding-left: 0px;
		padding-top: 20px;
	}
}	
