
.directory-filter-container {
	padding-left: 0px;
	@include screen-sm{
		width: 100%;
		margin-top: 20px;
	}
	@include screen-xs {
		margin-top: 20px;
	}
	
}


.directory-label {
	display: block;
	color: $silver;
}

.directory-input {
	border-radius: 0px;
	width: 100%;
	display: inline-block;
}

/* selectpicker */
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 100%;
}

.directory-submit {
	border-radius: 0px;
	margin-left: 0px;
    margin-top: 24px;
    padding: 7px 12px;
	color: $silver;
	@include screen-ltmd {
		margin-left: 0px;
		width: 100%;
	}
}

.bootstrap-select>button {
	border-radius: 0px;
	color: $silver;
}

.directory-special-field-list {
	padding-left: 0px;
	margin-bottom: 0px;
}

.directory-special-field {
	list-style-type: none;
	display: inline-block;
	padding-right: 10px;
	font-size: 14px;
    color: black;
    font-weight: 500;
    &:after {
	    content: ',';
    }
    &:last-of-type {
	    &:after {
		    content: '';
	    }
    }
}

.social-list {
	padding-left: 0px !important;
}

table {
	.social-list {
		margin-bottom: 0px;
	}
}

.table>tbody>tr>td {
	vertical-align: middle;
}

button[data-id="select-states"] .caret,
button[data-id="select-country"] .caret,
button[data-id="select-media"] .caret,
button[data-id="select-technique"] .caret,
button[data-id="category"] .caret

 {
	display: initial;
	@include screen-ltlg {
		border-top: 4px dashed $silver;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
		border-bottom: none;
	}
}


.post-categories {
	margin-bottom: 0px !important;
	padding-left: 0px !important;
	li {
		display: inline-block;
		font-size: 14px;
		font-weight: 500px;
		&:after {
			content: ',';
		}
		&:last-of-type {
			&:after {
				content: '';
			}
		}
		a {
			font-weight: 500;
			
		}
	}
}

.directory-input[name="firstName"] {
	width: 49%;
	border-right: none;
	box-shadow: none;
	
}

.directory-input[name="lastName"] {
	width: 49%;
	margin-left: -4px;
	border-left: 1px solid $pale-grey;
	box-shadow: none;
}

.form-control:focus {
	border-color: $saffron;
	box-shadow: none;
	
}

.bootstrap-select .dropdown-toggle:focus {
	outline: none !important;
	border-color: $saffron;
}