
.news-section {
	padding-top: 60px;
	padding-bottom: 60px;
}

.news-item {
	margin-bottom: 45px;
}

.news-img {
	width: 100%;
	height: 250px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}