
.news-section {
	padding-top: 60px;
	padding-bottom: 60px;
}

.news-item {
	margin-bottom: 45px;
}

.news-img {
	width: 100%;
	height: 250px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.news-date {
	margin-top: 0px;
	@include screen-xs {
		margin-top: 20px;
	}
}

.news-release {
	display: inline;
	padding-right: 5px;
	a {
		text-decoration: underline;
	}
	@include screen-ltmd {
		display: block;
		margin-bottom: 0px;
	}
}

.news-calendar {
	display: inline;
	
	a {
		text-decoration: underline;
		padding-left: 5px;
	}
	@include screen-ltmd {
		display: block;
		margin-bottom: 10px;
		a {
			padding-left: 0px;
		}
	}
}